@import url('../fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* PLYR tweaks */
:root {
  --plyr-color-main: black;
  --plyr-menu-color: black;
  --plyr-audio-control-color: black;
  --plyr-audio-progress-buffered-background: black;
  --plyr-range-thumb-height: 8px;
  --plyr-range-thumb-background: black;
  --plyr-range-track-height: 1px;
  --plyr-range-thumb-shadow: none;
  --plyr-control-spacing: 0;
}

.plyr__time + .plyr__time::before {
  content: '/';
  margin-right: 10px;
  margin-right: 0;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control {
  background: transparent;
}

.plyr--full-ui input[type="range"]::-moz-range-thumb, .plyr--full-ui input[type="range"]::-webkit-slider-thumb {
  width: .66rem;
  height: .66rem;
}
