@tailwind base;
@tailwind components;
@tailwind utilities;

/* PLYR tweaks */
:root {
  --plyr-color-main: black;
  --plyr-menu-color: black;
  --plyr-audio-control-color: black;
  --plyr-audio-progress-buffered-background: black;
  --plyr-range-thumb-height: 8px;
  --plyr-range-thumb-background: black;
  --plyr-range-track-height: 1px;
  --plyr-range-thumb-shadow: none;
}

/*.plyr__controls {*/
/*  display: grid !important;*/
/*  grid-template-columns: 2em 1fr;*/
/*  grid-template-rows: repeat(3, 1fr);*/
/*  grid-column-gap: 0px;*/
/*  grid-row-gap: 0px;*/
/*}*/

/*.zone1 {*/
/*  grid-area: 1 / 1 / 4 / 2;*/
/*}*/
/*.zone2 {*/
/*  grid-area: 1 / 2 / 2 / 3;*/
/*}*/
/*.zone3 {*/
/*  grid-area: 2 / 2 / 3 / 3;*/
/*}*/
/*.zone4 {*/
/*  grid-area: 3 / 2 / 4 / 3;*/
/*  text-align: right;*/
/*  font-style: italic;*/
/*}*/
