@tailwind base;
@tailwind components;
@tailwind utilities;

/* PLYR tweaks */
:root {
  --plyr-color-main: black;
  --plyr-menu-color: black;
  --plyr-audio-control-color: black;
  --plyr-audio-progress-buffered-background: black;
  --plyr-range-thumb-height: 8px;
  --plyr-range-thumb-background: black;
  --plyr-range-track-height: 1px;
  --plyr-range-thumb-shadow: none;
}
